* {
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    font-family: sans-serif;
}

.calendar-grid {
    display: grid;
    grid-template-rows: repeat(7, 15px);
    grid-auto-flow: column;
    grid-auto-columns: 15px;
    grid-gap: 3px;
}

.gray {
    color: gray;
}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.habit-calendar {
    display:grid;
    grid-template-columns: repeat(8, 15px);
    grid-auto-flow: row;
    grid-auto-rows: 15px;
    gap: 3px;
}

.day-square {
    border-radius: 20%;
    border: 1px solid black;
    background-color: orange;
}
